.none {
  position: absolute;
  width: 0px;
  height: 0px;
}
.header {
  background-color: #f58021;
  width: 1920px;
  margin: 0 auto;
}
.header-container{
  width: 1920px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 110px;
  padding: 30px 260px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.header-menu{
  display: none;
  width: 30px;
  height: 30px;
  background-image: url("../../../online-zoo/assests/icons/hamburger.svg");
  align-self: center;
}
#header-toggle{
  display: none;
}
.container {
  position: relative;
  width: 1920px;
  margin: auto;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #fff;
  color: #000;
}
.online-zoo {
  position: absolute;
  display: none;
}
.logo {
  height: 96px;
}
.nav-wrapper {
  display: flex;
}
.nav {
  width: 556px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-transform: uppercase;
  margin-right: 65px;
}
.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  text-decoration: none;
}
.nav__link:active,
.nav__link:visited {
  color: #000;
}
.nav-link:hover {
  cursor: pointer;
  opacity: 0.5;
}
.nav-link__active {
  color: #00a092;
}
.nav-link__active:active,
.nav-link__active:visited,
.nav-link__active:hover {
  color: #00a092;
  cursor: default;
}
.social-media {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media a {
  width: 40px;
  height: 40px;
}
.social-media__item:hover {
  cursor: pointer;
  opacity: 0.5;
}
.view-animals__container {
  top: 0;
  position: absolute;
  display: flex;
  background-color: #fff;
  margin-right: 260px;
  margin-bottom: 150px;
}
.live-animals {
  background-color: #20113d;
  width: 220px;
  height: 846px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.live {
  height: 80px;
  border-bottom: 1px solid #fff;
  display: flex;
}
.live__text {
  padding-top: 8px;
  display: flex;
  width: 120px;
  height: 28px;
  background-color: #f58021;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.live__paragraph {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px 0 24px;
}
.live__camera {
  height: 20px;
  width: 20px;
  fill: #fff;
}
.arrows {
  align-self: center;
  margin-left: 54px;
  display: flex;
  width: 16px;
  height: 15px;
}
.live__arrow {
  fill: #fff;
  width: 9px;
  height: 15px;
}
.wrap-links{
  height: 691px;
  overflow: hidden;
  will-change: transform;
}
.live-animals__paragraph p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.live-animal__icon {
  
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
}
.icon__circle {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 33px auto;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background-color: #f58021;
}
.icon__active {
  background-color: #fff;
  box-shadow: 0 0 0 5px #20113d, 0 0 0 8px #fff;
}
.icon__circle:hover {
  cursor: pointer;
}
.icon__animal {
  padding-top: 21px;
  width: 180px;
  height: 185px;
  fill: #20113d;
}
.panda-icon {
  padding-left: 11px;
}
.eagle-icon {
  padding-left: 20px;
}
.gorilla-icon {
  padding-left: 18px;
}
.lemur-icon {
  padding-left: 34px;
}
.down-arrow__container {
  position: relative;
  height: 80px;
}
.live__arrow-down {
  padding: 26px 103px;
  transform: rotate(90deg);
  fill: #fff;
  width: 9px;
  height: 15px;
}
.animal-cams {
  width: 1400px;
  margin-top: 54px;
  margin-left: 260px;
}
.animal-cams__heading {
  position: relative;
  margin-bottom: 50px;
}
.heading__paragraph {
  display: flex;
  justify-content: center;
  color: #00a092;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
}
.heading__donate-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: 74px;
  color: #fff;
  display: flex;
  padding-left: 34px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  border-radius: 5px;
  align-items: center;
  background-color: #f58021;
  border: none;
}
.heading__vector {
  width: 27px;
  height: 24px;
  padding-left: 10px;
  fill: #fff;
}
.heading__donate-btn:hover {
  background-color: #d26004;
  cursor: pointer;
}
.animal-cams__video {
  height: 787px;
  width: 1400px;
  margin-bottom: 100px;
}
.animal-cams__more-views {
  height: 290px;
}
.more-views__heading {
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.more-views__container {
  margin: 0 143px;
  width: 1226px;
  display: flex;
  justify-content: space-between;
}
.more-views__left,
.more-views__right {
  padding: 26px 27px;
  box-sizing: border-box;
  border: none;
  fill: #20113d;
  width: 80px;
  height: 74px;
  align-self: center;
  border-radius: 5px;
}
.more-views__vector-left {
  transform: rotate(180deg);

}
.more-views__vector-left,
.more-views__vector-right{
  width: 25px;
  height: 27px;
  fill:#20113d;
}
.more-views__left:hover,
.more-views__right:hover {
  cursor: pointer;
  background-color: #f58021;
}
.more-views__vector-left:hover,
.more-views__vector-right:hover{
  fill: #fff;
}

.more-views__wrap{
  width: 1015px;
  overflow: hidden;
}
.more-views__list {
  width: 1040px;
  display: flex;
  justify-content: space-between;
  will-change: transform;
}
.more-view__video {
  position: relative;
  width: 320px;
  height: 209px;
  margin-right: 27px;
}
.elem {
  position: absolute;
  height: 100%;
  width: 100%;
}
.more-view__video-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 189px;
  height: 44px;
  border: 1px solid #fff;
  border-bottom-right-radius: 5px;
  padding: 6px 10px 6px 40px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #fff;
}
.more-view__video-text p::after {
  padding-left: 10px;
  content: url("../../../../online-zoo/assests/icons/cam.svg");
}
.donation {
  margin-top: 650px;
  padding: 50px 260px;
  color: #fff;
  background-color: #20113d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 159px;
}
.donation__text h5 {
  width: 924px;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.donation__text p {
  width: 900px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
.quick-text {
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  padding-bottom: 5px;
}
.quick-form {
  height: 92px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.quick-form::after {
  content: "$";
  display: inline-block;
  position: absolute;
  left: 14px;
  top: 30px;
}
.quick-form__input {
  position: relative;
  padding-left: 30px;
  width: 208px;
  height: 76px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background-color: #20113d;
}
.quick-form__input::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.quick-form__input::-webkit-outer-spin-button,
.quick-form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quick-form__btn {
  position: relative;
  right: 7px;
  width: 80px;
  height: 80px;
  background-color: #f58021;
  background-image: url("../../../online-zoo/assests/icons/Union.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  border-left: none;
  border-radius: 5px;
  cursor: pointer;
}
.quick-form__btn:hover,
.quick-form__btn:active {
  background-color: #d26004;
}

.animal-info {
  margin: 0 260px;
  margin-bottom: 155px;
}
.animal-info__fact {
  margin-left: 250px;
  padding: 50px 50px;
  box-sizing: border-box;
  width: 1040px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 150px;
}
.fact__heading {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 370px;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
  color: #00a092;
}
.fact__paragraph {
  width: 919px;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
}
.animal-description {
  height: 440px;
  display: flex;
  margin-bottom: 50px;
}
.animal-description__characteristic-list {
  padding-right: 119px;
  width: 600px;
  height: 382px;
}
.characteristics {
  display: flex;
}
.characteristic__heading {
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  padding-right: 20px;
  align-self: center;
}
.characteristic__paragraph {
  font-size: 18px;
  line-height: 27px;
  align-self: center;
}
.characteristic__btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 240px;
  height: 74px;
  padding-left: 44px;
  font-weight: 600;
  font-size: 20.273px;
  line-height: 25px;
  color: #f58021;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}
.characteristic__vector {
  fill: #f58021;
  width: 27px;
  height: 24px;
  padding-left: 11px;
}
.characteristic__btn:hover {
  background-color: #f58021;
  color: #fff;
}
.characteristic__btn:hover .characteristic__vector {
  fill: #fff;
}
.characteristics__common-name {
  padding-bottom: 25px;
}
.characteristics__scientific-name {
  padding-bottom: 25px;
}
.characteristics__type,
.characteristics__size,
.characteristics__diet {
  padding-bottom: 18px;
}
.animal-info__text {
  width: 1160px;
  font-size: 18px;
  line-height: 27px;
}
.footer {
  padding: 0 260px;
  height: 329px;
  background-color: #20113d;
}
.footer-info {
  align-items: center;
  height: 50px;
  padding: 82px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.footer-logos {
  width: 445px;
  display: flex;
  justify-content: space-between;
}
.footer-logo__online {
  background-image: url("../../../online-zoo/assests/icons/Logologo__white.svg");
  width: 96px;
  height: 50px;
}
.footer-logo__online a {
  display: inline-block;
  width: 96px;
  height: 50px;
}
.footer-logo__yem {
  background-image: url("../../../online-zoo/assests/icons/Yem\ Digital.svg");
  width: 50px;
  height: 50px;
}
.footer-logo__rsschool {
  background-image: url("../../../online-zoo/assests/icons/rs_school_js\ logo.svg");
  background-repeat: no-repeat;
  width: 138px;
  height: 52px;
}
.footer-navigation {
  width: 426px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -30px;
}
.footer-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.footer-nav__link:hover {
  opacity: 0.7;
}
.footer-nav__link:active {
  color: #fff;
}
.footer-nav__link:visited {
  color: #fff;
}
.footer_btn {
  align-self: center;
}
.footer-btn__donate {
  width: 359px;
  height: 74px;
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: flex;
  align-items: center ;
  padding-left: 33px;
}
.footer__vector {
  height: 24px;
  width: 27px;
  padding-left: 20px;
  fill: #fff;
}
.footer-btn__donate:hover,
.footer-btn__donate:active {
  cursor: pointer;
  background-color: #00a092;
}
.footer-copyright {
  padding-top: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  width: 448px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}
.copyright__title:hover {
  cursor: default;
}
.footer__social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
